.detail {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.detail h1 {
  margin-bottom: 20px;
}

.detail p {
  margin: 10px 0;
  font-size: 18px;
}

/* Extra */
.detail {
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid gray;
}